force-app/main/default/flows/NPC_Scheduled_DPE_Definitions.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Aggregate_Benefit_Assignment_and_Benefit_Disbursement</name>
        <label>Aggregate Benefit Assignment and Benefit Disbursement</label>
        <locationX>176</locationX>
        <locationY>252</locationY>
        <actionName>NPC_Aggregate_Benefit_Assignment_and_Benefit_Disbursement</actionName>
        <actionType>dataProcessingEngineAction</actionType>
        <connector>
            <targetReference>Aggregate_Program_Enrollment</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Current_Date</name>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Current_Month_Start_Date</name>
            <value>
                <elementReference>Current_Month_Start_Date</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Current_Year_Start_Date</name>
            <value>
                <elementReference>Current_Year_Start_Date</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Previous_Month_Start_Date</name>
            <value>
                <elementReference>Previous_Month_Start_Date</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Previous_Year_Start_Date</name>
            <value>
                <elementReference>Previous_Year_Start_Date</elementReference>
            </value>
        </inputParameters>
        <nameSegment>NPC_Aggregate_Benefit_Assignment_and_Benefit_Disbursement</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Aggregate_Program_Enrollment</name>
        <label>Aggregate Program Enrollment</label>
        <locationX>176</locationX>
        <locationY>360</locationY>
        <actionName>NPC_Aggregate_Program_Enrollment</actionName>
        <actionType>dataProcessingEngineAction</actionType>
        <connector>
            <targetReference>Donor_Gift_Summary</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>NPC_Aggregate_Program_Enrollment</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Donor_Gift_Summary</name>
        <label>Donor Gift Summary</label>
        <locationX>176</locationX>
        <locationY>468</locationY>
        <actionName>NPC_DonorGiftSummary</actionName>
        <actionType>dataProcessingEngineAction</actionType>
        <connector>
            <targetReference>Fundraising_Account_Actionable_List_Template</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>CURRENT_CALENDAR_YEAR</name>
            <value>
                <elementReference>Current_Year_Start_Date</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>LAST_CALENDAR_YEAR</name>
            <value>
                <elementReference>Previous_Year_Start_Date</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>LAST_TWO_CALENDAR_YEAR</name>
            <value>
                <elementReference>LAST_TWO_CALENDAR_YEAR</elementReference>
            </value>
        </inputParameters>
        <nameSegment>NPC_DonorGiftSummary</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Fundraising_Account_Actionable_List_Template</name>
        <label>Fundraising Account Actionable List Template</label>
        <locationX>176</locationX>
        <locationY>576</locationY>
        <actionName>NPC_Fundraising_Account_Actionable_List_Template</actionName>
        <actionType>dataProcessingEngineAction</actionType>
        <connector>
            <targetReference>Gift_Designation</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>NPC_Fundraising_Account_Actionable_List_Template</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Gift_Designation</name>
        <label>Gift Designation</label>
        <locationX>176</locationX>
        <locationY>684</locationY>
        <actionName>NPC_GiftDesignation</actionName>
        <actionType>dataProcessingEngineAction</actionType>
        <connector>
            <targetReference>Outreach_Summary</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>CURRENT_CALENDAR_YEAR</name>
            <value>
                <elementReference>Current_Year_Start_Date</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>LAST_CALENDAR_YEAR</name>
            <value>
                <elementReference>Previous_Year_Start_Date</elementReference>
            </value>
        </inputParameters>
        <nameSegment>NPC_GiftDesignation</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Outreach_Summary</name>
        <label>Outreach Summary</label>
        <locationX>176</locationX>
        <locationY>792</locationY>
        <actionName>NPC_OutreachSummary</actionName>
        <actionType>dataProcessingEngineAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>NPC_OutreachSummary</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <environments>Default</environments>
    <formulas>
        <name>Current_Month_Start_Date</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR({!$Flow.CurrentDate}),MONTH({!$Flow.CurrentDate}),1)</expression>
    </formulas>
    <formulas>
        <name>Current_Year_Start_Date</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR({!$Flow.CurrentDate}),1,1)</expression>
    </formulas>
    <formulas>
        <name>LAST_TWO_CALENDAR_YEAR</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR({!$Flow.CurrentDate})-2,1,1)</expression>
    </formulas>
    <formulas>
        <name>Previous_Month_Start_Date</name>
        <dataType>Date</dataType>
        <expression>IF(MONTH({!$Flow.CurrentDate})=1,DATE(YEAR({!$Flow.CurrentDate})-1,12,1),DATE(YEAR({!$Flow.CurrentDate}),MONTH({!$Flow.CurrentDate})-1,1))</expression>
    </formulas>
    <formulas>
        <name>Previous_Year_Start_Date</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR({!$Flow.CurrentDate})-1,1,1)</expression>
    </formulas>
    <interviewLabel>*NPC_Scheduled DPE Definitions {!$Flow.CurrentDateTime}</interviewLabel>
    <label>*NPC_Scheduled DPE Definitions</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Aggregate_Benefit_Assignment_and_Benefit_Disbursement</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2024-01-30</startDate>
            <startTime>00:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
</Flow>
